@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    height: auto;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}
main{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top_section{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home{
    display: flex;
    justify-content: center;
    align-items: end;
    height: 100%;
    width: 10%;
}
.logo{
    display: flex;
    justify-content: start;
    align-items: end;
    height: 100%;
    width: 15%;
}
.logo img{
    height: 80%;
}

.home img{
    height: 70%;
}
.vacio{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
}
form{
    margin-top: 2%;
    height: 100%;
    width: 70%;
}
.datos_section{
    width: 100%;
    height: 250%;
    background-color: rgb(247, 247, 247);
    box-shadow: 10px -10px 2px 1px rgb(192, 191, 191);
    border-radius: 17px;
}
.cabecera{
    height: 6%;
    width: 100%;
    background-color: #3dae2a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    border-radius: 17px 17px 0 0;
}
.campos{
    height: 88%;
    width: 100%;
}

.fila{
    width: 100%;
    height: 20%;
    display: flex;
}
.col{
    width: 50%;
    height: 100%;
}

.separador{
    height: 10%;
}

.titulo{
    height: 45%;
    width: 50%;
    display: flex;
    align-items: self-end;
    margin-left: 2%;
}
.titulo h3{
    font-size: 150%;
}
.select_container{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 5%;
}
.select_container select{
    width: 80%;
    height: 90%;
    font-size: 20px;
}
.puestos_container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.puestos_container select{
    height: 90%;
    width: 90%;
    font-size: 16px;
}

.fila h3{
    font-size: 22px;
    margin-left: 5%;
    font-weight: bold;
}

.input{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: start;
    margin-left: 5%;
}

.input input{
    height: 100%;
    width: 80%;
    font-size: 20px;
}
.input select{
    height: 100%;
    width: 80%;
    font-size: 20px;
}

.observaciones_container{
    height: 60%;
    width: 60%;
    margin-left: 3%;
}
.observaciones_container textarea{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.titMotivo{
    height: 5%;
    width: 20%;
    margin-left: 3%;
    margin-top: 2%;
    display: flex;
    align-items: center;
}

.opciones_container{
    width: 85%;
    height: 90%;
    margin-left: 3%;
}

.container_send{
    width: 100%;
    height: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_send button{
    border: none;
    width: 10%;
    height: 100%;
    border-radius: 20px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    text-align: center;
    transition: all .1s ease-out;
    font-size: medium;
    box-shadow: 0 5px #666;
  }
  .container_send button:active{
    box-shadow: 0 0 black;
    transform: translateY(2px);
  }






.light {
    background-color: white;
    --primary: hsl(250, 100%, 44%);
    --other: hsl(0, 0%, 14%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: justify;
    max-height: 94%;
    overflow: overlay;
    margin-top: 2%;
  }

  /* label */
.light label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
  
    margin: 12px;
  
    cursor: pointer;
    position: relative;
  }
  
  
  /* input */
  .light input {
    max-height: 100%;
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 5px;
  }
  
  /* .design */
  .design {
    width: 16px;
    height: 16px;
  
    border: 1px solid var(--other);
    border-radius: 100%;
    margin-right: 16px;
  
    position: relative;
  }
  
  .design::before,
  .design::after {
    content: "";
    display: block;
  
    width: inherit;
    height: inherit;
  
    border-radius: inherit;
  
    position: absolute;
    transform: scale(0);
    transform-origin: center center;
  }
  
  
  .design:before {
    background: var(--other);
    opacity: 0;
    transition: .3s;
  }
  
  .design::after {
    background: var(--primary);
    opacity: .4;
    transition: .6s;
  }
  
  
  /* .text */
  .text {
    font-weight: 600;
    max-width: 80%;
    font-size: 17px;
  }
  
  
  /* checked state */
  .light input:checked+.design::before {
    opacity: 1;
    transform: scale(.6);
  }
  
  
  /* other states */
  .light input:hover+.design,
  .light input:focus+.design {
    border: 1px solid var(--primary);
  }
  
  .light input:hover+.design:before,
  .light input:focus+.design:before {
    background: var(--primary);
  }
  
  .light input:hover~.text {
    color: var(--primary);
  }
  
  .light input:focus+.design::after,
  .light input:active+.design::after {
    opacity: .1;
    transform: scale(2.6);
  }