@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body{
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

  }
main{
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url("https://img.freepik.com/vector-premium/fondo-azul-abstracto-diseno-presentacion-fondo-abstracto-azul-simple-moderno-empresas-e-instituciones-corporativas_181182-34730.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}

.div-title{
    font-size: 20px;
    height: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.div-title h1 {
    margin:  0;
  }

.section-container{
    height: 500px;
    width: 700px;
    border: 1px solid black;
    background-color: white;
    border-radius: 20px;
    padding: 26px 26px;
  }
.section-container .send{
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 7%;
    margin-top: 2%;
    
}
.section-container .send button{
    width: 20%;
    font-size: medium;
}

.section-container button{
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 15px;
    padding: 7px 17px;
    cursor: pointer;
    text-align: center;
    transition: all .1s ease-out;
}
.section-container button:active{
    box-shadow: 0 5px #666;
    transform: translateY(1px);
}

.div-select{
    height: 20%;
    margin-top: 2%;
  }

.div-container{
    border: 1px solid black;
    height: 37%;
    margin-top: 1%;
}
.div-container select{
    width: 100%;
    height: 100%;
    font-size: medium;
}

.div-ofertas{
    overflow-x: hidden;
    margin-bottom: 2%;
}
.div-ofertas select{
    font-size: medium;
}

.div-inputs{
    margin-top: 1%;
    height: 90%;
    width: 60%;

}
.mailContainer{
    width: 100%;
    display: flex;
    height: 50%;
    align-items: center;
}
.mailContainer input{
    width: 90%;
    font-size: medium;
    height: 60%;
    margin-right: 2%;
}

.mailError{
    color: red;
    font-size: medium;
}
.div_errores{
    color: red;
    font-size: medium;
}

.tlfContainer{
    width: 100%;
    display: flex;
    height: 50%;
    align-items: center;
}
.tlfContainer input{
    width: 90%;
    font-size: medium;
    height: 60%;
    margin-right: 2%;
}
.header{
    display: flex;
    width: 100%;
    height: 10%;
    margin-bottom: 3%;
    margin-top: 3%;
  }
  .header img{
    height: 100%;
  }
  
  .home_icon{
    display: flex;
    height: 100%;
    width: 15%;
    justify-content: center;
    align-items: center;
  }
  .home_icon a{
    color: white;
  }
  
  .home_icon img{
    width: 50px;
    height: 50px;
  }
  
  .logo{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.inputs_all{
    height: 20%;
    display: flex;
    align-items: center;
}